<!-- FOOTER -->
    <footer>

      <!-- SCROOL TO TOP -->
      <a href="#toTop" class="fa fa-arrow-up toTop"></a>

      <div class="container">

        <div class="row">

          <div class="col-md-6 copyright">
            Your Company, LTD<br />
            2014 &copy; All Rights Reserved.
            
          </div>

          <div class="col-md-6 text-right">
            <a href="#" class="social fa fa-facebook"></a>
            <a href="#" class="social fa fa-twitter"></a>
            <a href="#" class="social fa fa-google-plus"></a>
          </div>

        </div>

      </div>
    </footer>
    <!-- /FOOTER -->
