<meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Factory Design Lab</title>
    <meta name="description" content="" />
    <meta name="Author" content="Kevin Powell" />

    <!--[if lt IE 9]>
      <script type="text/javascript" src="assets/plugins/lt-ie9/html5.js"></script>
      <script type="text/javascript" src="assets/plugins/lt-ie9/respond.min.js"></script>
      <script type="text/javascript" src="assets/plugins/lt-ie9/excanvas.compiled.js"></script>
    <![endif]--> 
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800|Dosis:300,400" rel="stylesheet" type="text/css" />


    <!-- CORE CSS FRAMEWORK -->
    <link href="http://theme.stepofweb.com/Isisone/v1.2/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="http://theme.stepofweb.com/Isisone/v1.2/assets/plugins/font-awesome/css/font-awesome.css" type="text/css" />
    <link href="http://theme.stepofweb.com/Isisone/v1.2/assets/plugins/font-linecons/linecons.css" rel="stylesheet" type="text/css" />

    <!-- PLUGINS -->
    <link href="http://theme.stepofweb.com/Isisone/v1.2/assets/css/superslides.css" rel="stylesheet" type="text/css" />
    <link href="http://theme.stepofweb.com/Isisone/v1.2/assets/css/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="http://theme.stepofweb.com/Isisone/v1.2/assets/plugins/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css" />

    <!-- CSS TEMPLATE -->
    <link href="http://theme.stepofweb.com/Isisone/v1.2/assets/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="http://theme.stepofweb.com/Isisone/v1.2/assets/css/framework.css" rel="stylesheet" type="text/css" />
    <link href="http://theme.stepofweb.com/Isisone/v1.2/assets/css/typography.css" rel="stylesheet" type="text/css" />
    <link href="http://theme.stepofweb.com/Isisone/v1.2/assets/css/layout.css" rel="stylesheet" type="text/css" />

    <link href="http://theme.stepofweb.com/Isisone/v1.2/assets/css/blog.css" rel="stylesheet" type="text/css" />


    <!-- ICONS -->
    <link rel="shortcut icon" href="http://theme.stepofweb.com/Isisone/v1.2/assets/images/favicon.png" type="image/x-icon" />
    <link rel="icon" href="http://theme.stepofweb.com/Isisone/v1.2/assets/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="http://theme.stepofweb.com/Isisone/v1.2/assets/images/favicon.ico" type="image/x-icon" />

    <!-- colors : demo only -->
    <link href="http://theme.stepofweb.com/Isisone/v1.2/assets/css/color/green.css" rel="stylesheet" type="text/css" /><!-- default style : green-->



    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

    <!-- STYLESWITCHER -->
    <link href="http://theme.stepofweb.com/Isisone/v1.2/assets/plugins/styleswitcher/styleswitcher.css" rel="stylesheet" type="text/css"/>

    <!-- Morenizr -->
    <script type="text/javascript" src="http://theme.stepofweb.com/Isisone/v1.2/assets/plugins/modernizr.min.js"></script>
