<!DOCTYPE html>

<html lang="en-US">
<head>
    <title></title>
</head>

<body>
    <!-- HOME -->

    <section class="full-screen video" id="home" style=
    "background-image:url('assets/images/preview/slider/vision.jpg');">
        <!-- background used for mobiles or error/not loading -->
        <!-- video audio icon -->
        <a href="#" id="video-volume"></a> 
        <!-- Video Background - replace videoURL with your youtube video URL -->
         <a class="player" data-property=
        "{videoURL:'http://www.youtube.com/watch?v=A3PDXmYoF5U',containment:'body',autoPlay:true, mute:true, startAt:4, opacity:1}"
        id="YTPlayer">youtube</a> <!--/Video Background -->
         <span class="raster"><!-- video raster --></span> <!-- Caption -->

        <div class="image-caption">
            <div class="inner">
                <%= image_tag "c.png" %>
            </div>
        </div>
    </section><!-- /HOME -->
    <!-- Main Nav -->
    <%= render 'front/nav' %><!-- /Main Nav -->
    <!-- ABOUT -->

    <section id="about">
        <div class="container">
            <div class="me-picture text-center">
                <div class="item">
                    <%= image_tag "a.jpg", size: "200x200" %>
                </div>
                <hr>
            </div>

            <article>
                <div class="row text-left">
                    <!-- Passion -->

                    <div class="col-md-4">
                        <h3>WE.</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Maecenas metus nulla, commodo a sodales sed,
                        dignissim pretium nunc. Nam et lacus neque. Ut enim
                        massa, sodales tempor convallis et, iaculis ac massa.
                        Etiam suscipit nisl eget lorem pellentesque quis
                        iaculis mi mattis.</p>
                    </div><!-- Precision -->

                    <div class="col-md-4">
                        <h3>LOVE.</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Maecenas metus nulla, commodo a sodales sed,
                        dignissim pretium nunc. Nam et lacus neque. Ut enim
                        massa, sodales tempor convallis et, iaculis ac massa.
                        Etiam suscipit nisl eget lorem pellentesque quis
                        iaculis mi mattis.</p>
                    </div><!-- Simplicity -->

                    <div class="col-md-4">
                        <h3>LIFE.</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Maecenas metus nulla, commodo a sodales sed,
                        dignissim pretium nunc. Nam et lacus neque. Ut enim
                        massa, sodales tempor convallis et, iaculis ac massa.
                        Etiam suscipit nisl eget lorem pellentesque quis
                        iaculis mi mattis.</p>
                    </div>
                </div>
            </article><!-- curriculum vitae button  -->
            <!--
          <article class="curriculum-vitae text-center">
            <a href="#" class="plusNav">+</a> 
            <p>curriculum vitae</p>
          </article>
        -->
        </div>
    </section><!-- /ABOUT -->
    <!-- WORK -->

    <section class="alternate arrow-down" id="work">
        <div class="container">
            <header class="text-center" data-animation="bounceIn">
                <h1>COMPANY BLOG</h1>
            </header>

            <div class="divider">
                <!-- lines divider -->
            </div>

            <article>
                <p>Bacon ipsum dolor sit amet meatball shank pork chop capicola
                fatback pork loin sirloin flank. Andouille tongue corned beef
                rump pork loin shank meatball capicola turducken venison
                shankle kevin pancetta tri-tip boudin. Bacon ipsum dolor sit
                amet meatball shank pork chop capicola fatback pork loin
                sirloin flank.</p>
            </article>
        </div>
    </section><!-- /WORK -->
    <!-- CONTACT -->

    <section id="contact">
        <div class="container">
            <header class="text-center" data-animation="bounceIn">
                <h1>CONTACT</h1>
            </header>

            <div class="divider">
                <!-- lines divider -->
            </div>

            <article>
                <p class="text-center big-paragraph">Drop me a line or just say
                <strong><em>Hello!</em></strong> <small class=
                "fsize15 block">Lorem ipsum dolor sit amet, <strong>consectetur
                adipiscing</strong> elit.<br>
                Maecenas metus nulla, commodo a sodales sed, dignissim pretium
                nunc.</small></p>
            </article>

            <article>
                <!-- Alert -->

                <div class="alert alert-success fade in fsize16 hide" id=
                "_sent_ok_">
                    <button class="close" data-dismiss="alert" type=
                    "button">×</button> <span id="_msg_txt_"><strong>Thank
                    You!</strong> Your message successfully sent!</span>
                </div><!-- Form -->

                <form action="php/contact.php" class="white block form-inline"
                id="contactForm" method="post" name="contactForm">
                    <div class="row">
                        <div class="col-md-4">
                            <input class="fullwidth" id="contact_name" name=
                            "contact_name" placeholder="NAME *" required=""
                            title="Name" type="text" value="">
                        </div>

                        <div class="col-md-4">
                            <input class="fullwidth" id="contact_email" name=
                            "contact_email" placeholder="EMAIL *" required=""
                            title="Email" type="email" value="">
                        </div>

                        <div class="col-md-4">
                            <input class="fullwidth" id="contact_subject" name=
                            "contact_subject" placeholder="SUBJECT" title=
                            "subject" type="text" value="">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <textarea class="fullwidth" id="contact_comment"
                            name="contact_comment" placeholder="MESSAGE *"
                            required="" rows="5">
                            </textarea>
                        </div>

                        <div class="col-md-12">
                            <input id="captcha" name="captcha" type="hidden"
                            value="">
                            <!-- hidden field - humans should not see it, only spam bots will see it -->
                             <button class="btn btn-default" id=
                            "contact_submit">SEND MESSAGE</button>
                        </div>
                    </div>
                </form>
            </article>
        </div>
    </section><!-- /CONTACT -->
    <!-- QUOTE -->

    <section class="cover" style=
    "background-image:url('assets/images/preview/slider/road.jpg')">
        <div class="container text-center" data-animation="bounceIn">
            <q>We can't solve problems by using the same kind of thinking we
            used when we created them.</q> <cite>Albert Einstein</cite>
        </div>
    </section>
</body>
</html>
