<!DOCTYPE html>
<html>
  <head>

    <title>Factory Design Labs</title>
    <%= render 'front/top' %>
  
  </head>
  <body>

    <%= yield %>
    <%= render 'front/java' %>
    <%= render 'front/footer' %>

  </body>
</html>
